@charset "utf-8";

#app {
    position: relative;
    top: 196px;
    left: 0px;
    margin: auto;
    width: 608px;
    height: 500px;
    background-color: #333333;
    color: #fff;
    border-radius: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.cont-movie {
    position: absolute;
    padding-left: 266px;
    padding-top: 64px;
}

.movie-info dd {
    font-weight: 500;
    color: #bdbdbd;
}

.movie-info dd:nth-child(2) {
    float: left;
}

.movie-info dd:nth-child(2)::after {
    content: '\2758';
    margin: 5px;
}

.movie-info .info-tit {
    display: inline-block;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    margin-top: 13px;
}

.cont-img {
    position: absolute;
    top: 52px;
    left: -64px;
    width: 281px;
    height: 396px;
}

.cont-img .movie-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cont-item {
    position: absolute;
    padding-left: 266px;
    padding-top: 260px;
}


.cont-item .item-btn li {
    float: left;
    margin-right: 20px;
}

.cont-item .item-btn {
    display: inline-block;
}

.cont-item .item-btn a {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 1px;
    text-indent: -9999px;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    overflow: hidden;
}

.cont-item .item-btn .btn-like {
    background: no-repeat center / 24px url("../images/아이콘_thumbs-up.png"), #2F80ED;
}

.cont-item .item-btn .btn-heart {
    background: no-repeat center / 24px url("../images/아이콘_heart.png"), pink;
}

.cont-item .item-avg {
    display: block;
    margin-top: 22px;

}

.cont-item .item-stars {
    margin-top: 16px;
}

.cont-item .item-stars img {
    width: 52px;
}

.cont-item .item-stars .cancle-btn {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 12px;
    margin-bottom: 17px;
    font-size: 1px;
    text-indent: -9999px;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    overflow: hidden;
    background: no-repeat center / 24px url("../images/x-circle.svg");
}